svg {
  max-height: calc(100vh - 17rem);
  margin-top: 0;
  transition: max-height 0.5s;

  .imageOnly & {
    max-height: calc(100vh - 3rem);
  }
}

#statements {
  overflow: hidden;
  transition: max-height 0.5s;
  
  .imageOnly & {
    max-height: 0;
  }
}

nav {
  margin-bottom: 1rem;

  .imageOnly & {
    margin-bottom: 0.25rem;
  }

  span {
    height: 0.5rem;
    border: 1px solid gray;
    flex-grow: 1;
  }
}

#colors {
  min-height: 1.5rem;
  border-radius: 0.5rem;
  border: 5px solid rgba(0, 0, 0, 0.75);
}

#qVis {
  width: 50%;
  border: 2px solid black;
  margin: 1.5rem auto 0rem auto;
  margin-inline-start: auto ! important;
  height: 1rem;

  .imageOnly & {
    margin: 0rem auto;
  }
}

button[data-active] {
  border: 2px solid black;
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% { border-color: black; opacity: 1; }
  50% { border-color: #FFFFFF55; opacity: 0.75; }
  100% { border-color: black; opacity: 1; }
}