svg {
}

text {
  font-size: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#circles {
  fill: none;
  stroke: white;
  stroke-width: .3;
}

.blue { fill: #009fe3; }
.red { fill: #e30613; }
.white { fill: #efe8da; }
.green { fill: #009640; }
.black { fill: black; }

@mixin pulse($color) {
  @keyframes pulse-#{$color} {
    from { stroke: black; stroke-width: 0.25; }
    25% { stroke: $color; stroke-width: 0.75; }
    50% { stroke: black; stroke-width: 0.75; }
    75% { stroke: $color; stroke-width: 0.75; }
    to { stroke: black; stroke-width: 0.25; }
  }
}

.partition {
  fill-rule: evenodd;
  stroke: black;
  stroke-width: .3;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  text {
    stroke: none;
    fill: white;
  }

  @include pulse(red);
  g:hover path {
    animation-name: pulse-red;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @include pulse(blue);
  g:focus-within path {
    animation-name: pulse-blue;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  &.pulse {
    & > g {
      transform-origin: center;
      animation-name: spin;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
    text {
      animation-name: glow;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
 
  &.strobe {
    animation-name: strobe;
    animation-duration: 1s;
  }
}

@keyframes orig-pulse {
  from { stroke: black; stroke-width: 0.25; }
  25% { stroke: orangered; stroke-width: 0.75; }
  50% { stroke: black; stroke-width: 0.75; }
  75% { stroke: orangered; stroke-width: 0.75; }
  to { stroke: black; stroke-width: 0.25; }
}

@keyframes jiggle {
  from { stroke: black; stroke-width: 0.25; transform: perspective(250px) translateZ(0); }
  25% { stroke: orangered; stroke-width: 0.75; transform: perspective(250px) translateZ(-0.1rem); }
  75% { stroke: orangered; stroke-width: 0.75; transform: perspective(250px) translateZ(0.1rem); }
  to { stroke: black; stroke-width: 0.25; transform: perspective(250px) translateZ(0); }
}

@keyframes spin {
  from { transform: rotate(0); }
  50% { transform: rotate(360); }
  to { transform: rotate(0); }
}

@keyframes glow {
  from { fill: white; }
  50% { fill: yellow; }
  to { fill: white; }
}

@keyframes strobe {
  from { stroke: black; }
  25% { stroke: yellow; }
  50% { stroke: orangered; }
  75% { stroke: cyan; }
  to { stroke: black; }
}