line {
  stroke-width: 15;
}

.side .bg {
  stroke: black;
  stroke-width: 17;
  stroke-opacity: 0.25;
}

.side circle {
  fill: white;
  fill-opacity: 0.5;
  stroke: orangered;
  transition: fill 0.25s;

  &:hover {
    fill: blue;
    fill-opacity: 0.25;
  }
}

.bg {
  rect {
    fill: gold;
    fill-opacity: 0.5;
    stroke: gold;
    stroke-opacity: 0.75;
    stroke-width: 25;
  }

  text {
    font-size: 55px;
    user-select: none;
  }
}